﻿@model IEnumerable<ABClubs.Models.Country>

@{
    ViewData["Title"] = "List of all countries";
}

<h1>List of all Countries</h1>

<p>
    <a asp-action="Create">Create New Country</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CountryCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PostalPattern)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhonePattern)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FederalSalesTax)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProvinceTerminology)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CountryCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PostalPattern)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhonePattern)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FederalSalesTax)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProvinceTerminology)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.CountryCode">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.CountryCode">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.CountryCode">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
