﻿@model IEnumerable<ABClubs.Models.Instrument>

@{
    ViewData["Title"] = "List of all instruments";
}

<h1>List of all instruments</h1>

<p>
    <a asp-action="Create">Create New Instrument</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.InstrumentId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.InstrumentId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.InstrumentId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
